<!DOCTYPE html>
<html>
  <head>
    <title>Pablo</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <!-- <h1 id="greeting">Hello, World!</h1> -->
    
    <div id="content-block">
      <div id="left-button-block">
        <img id="left-button-img" class="zoom-in" src="../img/icons/arrow_left.png" draggable="false" alt="left" width="60"     height="75">
      </div>

      <div id="work-block">
        <div id="work-and-title-block">
          <img id="work" class="card" src="" alt="モナリザ" height="500px">
          <p id ="title_home" class = "test"> モナ・リザ</p>
          <p id ="creator_home" class = "test">レオナルド・ダ・ヴィンチ</p>
        </div>
      </div>
      
      <div id="right-button-block">
        <img id="right-button-img" class="zoom-in" src="../img/icons/arrow_right.png" draggable="false" alt="right" width="60" height="75">
      </div>
      
    </div>

    <script src="static/js/index.js"></script>
  </body>
</html>
