<!DOCTYPE html>
<html>
  <head>
    <title>Pablo</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <!-- <h1 id="greeting">Hello, World!</h1> -->
    
    <div id = "navigation-block">
    <nav>
       <img id="icon-img" src="../img/icons/painting.png" draggable="false" alt="pablo-icon" width="128"> 
      <!-- アイコン画像は仮です -->
      
      <ul id ="menu-list">
        <li class = "menu">
          <a href ="/">home</a>
        </li>
        <li class = "menu">
          <a href ="/description">description</a>
        </li>
        <li class = "menu">
          <a href = "/comment">comment</a>
        </li>
        <li class = "menu">
          <a href = "/users">users</a>
        </li>
          
      </ul>
    </nav>
    </div>
    <!-- 気が向いたらハンバーガメニューにしましょうか、、、 -->
    
    <div id="content-block">
      <div id="work-and-comment-block">
        <div id="work-block">
          <div id="left-button-block">
            <img id="left-button-img" class="zoom-in" src="../img/icons/arrow_left.png" draggable="false" alt="left" width="60" height="75">
          </div>
          <div id="work-and-title-block" class='card'>
            <img id="work" src="" alt="img">
            <!-- <img id="work" src="" alt="モナリザ"> -->
            <!-- <p id ="title_home" class = "test"> モナ・リザhtml</p>
            <p id ="creator_home" class = "test">レオナルド・ダ・ヴィンチhtml</p> -->
          </div>
          <div id="right-button-block">
            <img id="right-button-img" class="zoom-in" src="../img/icons/arrow_right.png" draggable="false" alt="right" width="60" height="75">
          </div>
        </div>
        <div id="comment-block">
          <ul id = 'comment-block-list'>

          </ul>
        <form id="send-comment-form" action="./comment/post" method="post">
          <input id="comment-from-user" name="comment" placeholder="コメントを入力" type="text">
          <input id="comment-post-user-id" type="hidden" name="user_id" value="0">
          <input id="comment-post-work-id" type="hidden" name="work_id" value="0">
          <button type="button" id="send-comment-button">送信</button>
               <!-- <input type="image" id="form_image" src="../img/icons/istockphoto-1017196448-612x612.jpg" alt="送信する" >
               <textarea id="textarea1">
               </textarea> -->
        </form>
        </div>
      </div>
    </div>

    <script src="static/js/index.js"></script>
  </body>
</html>