<!DOCTYPE html>
<html>
  <head>
    <title>Pablo</title>
  </head>
  <body>
    <form id="send-comment-form" action="./comment/post" method="post">
        <input id="user-name" name="comment" placeholder="名前" type="text">
        <input id="user-mail-address" name="comment" placeholder="メールアドレス" type="text">
        <input id="user-password" name="comment" placeholder="パスワード" type="text">
        <input id="user-password-again" name="comment" placeholder="パスワード" type="text">

        <!-- <input id="comment-post-user-id" type="hidden" name="user_id" value="0">
        <input id="comment-post-work-id" type="hidden" name="work_id" value="0"> -->
        <button type="button" id="send-comment-button">送信</button>
    </form>
    <script src="static/js/registration.js"></script>
  </body>

</html>