<!-- 引用: https://qiita.com/yuuki-h/items/47135ea7a07d0c994275 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Pablo</title>
    <link rel="stylesheet" href="static/css/style_signup.css">
  </head>
  <body>
    <div class="main-content">
      <form method="POST">
          <label for="">ユーザ名</label>
          <input type="text" name="username">
          <label for="">パスワード</label>
          <input type="password" name="password">
          <input type="submit" value="新規登録">
      </form>
      <a href="../login" class="login-link">登録済みの方はこちら</a>
    </div>
  </body>
</html>