<!DOCTYPE html>
<html>
  <head>
    <title>Pablo</title>
    <link rel="stylesheet" href="static/css/style_work_description.css">
  </head>
  <body>
    <div id = 'work-and-description-block'>
      <div id = 'text-block'>
        <p id = "creator"><b>レオナルド・ダ・ヴィンチ</b><br><i>/Leonardo da Vinci</i></p> 
        <p id = "year">1503-1519</p>
        <p id = "museum">ルーブル美術館</p>
        <p id = "size">77cm×53cm</p>
        <p id = "kind">ポプラ板に油彩</p>
        <p id = "title">『モナ・リザ』</p>
        <p id = "description">これはモナリザです。これはレオナルドダヴィンチの作品です。これはモナリザです。これはレオナルドダヴィンチの作品です。これはモナリザです。これはレオナルドダヴィンチの作品です。これはモナリザです。これはレオナルドダヴィンチの作品です。</p>
      </div>
      <div id = 'work'>
        <img id="work-element" src="img/works/1.jpg" alt="モナリザ">
      </div>
    </div>
  </body>
</html>