#greeting {
    color: blue;
}

#content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: max(20vh, 120px);
    user-select: none;
}

#work {
    background: rgb(109, 1, 1);
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    transition: 0.3s;
}

#work:hover{
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.05);
}

#left-button-block {
    display: flex;
    align-items: center;
    margin-right: max(10vw, 120px);
}

#left-button-img {
    margin: auto;
    user-select: none;
    display: block;
}

#right-button-block {
    display: flex;
    align-items: center;
    margin-left: max(10vw, 120px);
}

#right-button-img {
    margin: auto;
    user-select: none;
    display: block;
}

.zoom-in {
    transition: 0.2s;
}

.zoom-in:hover {
    cursor: pointer;
    transform: scale(1.2);
}