#greeting {
    color: blue;
}

#content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: max(20vh, 120px);
    user-select: none;
    height: 500px;
}

#text { 
    font-family: 'Shippori Mincho', serif;
    letter-spacing:normal;
    line-height: 100%;
    width: 1000px;
    border-top: 5px gray inset;
    border-right: 5px gray double;
    border-bottom: 5px gray double;
    border-left: 5px gray inset; 
}

#title{
  font-size: 54px;
  font-weight: bold;
  text-align:center;
}


#creator{
  font-size: 28px;
  text-align:center;
}



#description{
  font-size: 24px;
  font-weight: normal;
  margin-right:10%;
  margin-left:10%;
  text-align:center;
  line-height:200%;/*textと行間の指示が被ってるので後で直す？*/
}




#left-button-block {
    display: flex;
    align-items: center;
    margin-right: max(10vw, 120px);
}

#left-button-img {
    margin: auto;
    user-select: none;
    display: block;
}

#right-button-block {
    display: flex;
    align-items: center;
    margin-left: max(10vw, 120px);
}

#right-button-img {
    margin: auto;
    user-select: none;
    display: block;
}

.zoom-in {
    transition: 0.2 s;
}


.zoom-in:hover {
    cursor: pointer;
    transform: scale(1.2);
}