/*#greeting {
    color: blue;
}
*/

#content-block {
    display: flex;
    margin-top: max(20vh, 120px);
    justify-content:center;
    align-items:center;
    user-select: none;
    height: 500px;
    width: 100vw;
    position:relative;
    /*margin-right: 10px;
    margin-left: 10px;*/
  }

#work-block {
    -webkit-user-drag: none;
    transition: 0.3s;
}

#work-block:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.05);
}

#left-button-block {
    display: flex;
    align-items: center;
    /*margin-right: max(10vw, 120px);
    margin-left:5vw;*/
    position: absolute;
    left: 200px
}

#left-button-img {
    margin: auto;
    user-select: none;
    display: block;
}

#right-button-block {
    display: flex;
    align-items: center;
    /*margin-left: max(10vw, 120px);
    margin-right:5vw;*/
    position: absolute;
    right: 200px
}

#right-button-img {
    margin: auto;
    user-select: none;
    display: block;
}

#work-block{
  justify-content: center;
  /* align-content:center; */
  line-height:70%;
  vertical-align:middle;
}

#work{
  align-items:center;
  margin: auto;
  display: block;
}

#title_home{
  font-size:32px;
  text-align:center;
  font-weight:bold;
  font-family: 'Shippori Mincho', serif;
}
#creator_home{
  font-size:24px;
  text-align:center;
  vertical-align:top;
  font-family: 'Shippori Mincho', serif;
}

.zoom-in {
    transition: 0.25s;
}

.zoom-in:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.card {
    transition: transform 0.5s;
    backface-visibility : hidden;
}

.rotate {
    transform: rotateY(180deg);
}