/*#greeting {
    color: blue;
}
*/

#content-block {
    display: flex;
    margin-top: max(15vh, 100px);
    justify-content:center;
    align-items:center;
    user-select: none;
    /* height: 600px; */
    width: 100vw;
    position:relative;

    /*margin-right: 10px;
    margin-left: 10px;*/
}

#work-block {
    -webkit-user-drag: none;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
}

#work-block:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.05);
}

#left-button-block {
    display: flex;
    align-items: center;
    /*margin-right: max(10vw, 120px);
    margin-left:5vw;*/
    position: absolute;
    left: 200px
}

#left-button-img {
    margin: auto;
    user-select: none;
    display: block;
}

#right-button-block {
    display: flex;
    align-items: center;
    /*margin-left: max(10vw, 120px);
    margin-right:5vw;*/
    position: absolute;
    right: 200px
}

#right-button-img {
    margin: auto;
    user-select: none;
    display: block;
}

#work-block{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content:center; */
    width: 500px;
    height: 600px;
    line-height:70%;
    vertical-align:center;
    margin-right:auto; 
    margin-left:auto;
}

#work-block div {
    margin: auto;
    position: absolute;
    /* width: 100%;
    height: 100%; */
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#work-and-title-block {
    height: 100%;
}

#work{
  align-items:center;
  margin: auto;
  display: block;
  height: 75%;
}

#title_home{
  font-size:32px;
  text-align:center;
  font-weight:bold;
  font-family: 'Shippori Mincho', serif;
  line-height: 100%;
}
#creator_home{
  font-size:24px;
  text-align:center;
  vertical-align:top;
  font-family: 'Shippori Mincho', serif;
  line-height: 100%;
}

.zoom-in {
    transition: 0.25s;
}

.zoom-in:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.card {
    transition: transform 0.5s;
    backface-visibility : hidden;
}

.rotate {
    transform: rotateY(180deg);
    transition: transform 0.5s ease-out;
}
#text { 
    font-family: 'Shippori Mincho', serif;
    letter-spacing:normal;
    /* line-height: 100%; */
    /* width: 1000px; */
    width:85%;
    /* height: 60%; */
    border-top: 5px gray inset;
    border-right: 5px gray double;
    border-bottom: 5px gray double;
    border-left: 5px gray inset; 
}

#title{
  font-size: 54px;
  font-weight: bold;
  text-align:center;
  line-height:100%;
}


#creator{
  font-size: 28px;
  text-align:center;
  line-height:100%;
}


#description{
  font-size: 20px;
  font-weight: normal;
  margin-right:10%;
  margin-left:10%;
  text-align:center;
  line-height:120%;/*textと行間の指示が被ってるので後で直す？*/
}
/* あとでcssフレームワーク探しましょう */

/* .comment-user{ 
    display:flex;
} */

ul{
    list-style:none; 
}

li{
    /* border-top: 5px gray double;
    border-right: 5px gray double;
    border-bottom: 5px gray double;
    border-left: 5px gray double;  */
    margin: 10px 0px;
}

.comment-name{
    width: 40%;
    margin-right: 20px;
}

form{
  display: flex;
}

textarea{
    border: 4px solid;
    width: 90%;
    border: 2px solid #ccc;
    border-radius: 3px;
    resize: none;
    padding: 3px 3px;
    font-family: 'Shippori Mincho', serif;
    font-size:15px;
}
#form_image{
    width:10%;
    cursor:pointer;
    
}

#comment-block {
    width: 85%;
    margin: auto;
}

#comment-block-list { 
    height: 150px;
    /* max-height: 200px; */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

/* スクロールバー全体のスタイルを設定 */
#comment-block-list::-webkit-scrollbar {
    width: 5px; /* スクロールバーの幅 */
}
  
  /* スクロールバーのトラック（背景部分）のスタイルを設定 */
#comment-block-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* トラックの背景色 */
}
  
  /* スクロールバーのハンドル（動かす部分）のスタイルを設定 */
#comment-block-list::-webkit-scrollbar-thumb {
    background: #b8b8b8; /* ハンドルの背景色 */
    border-radius: 10px;
}
  
  /* ハンドルをホバーしたときのスタイル */
#comment-block-list::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b; /* ホバー時のハンドルの背景色 */
}
